<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/db64ef20-b614-413e-b8cc-a13d17764805/resourcegroups/Zoleka/providers/Microsoft.Web/sites/RailwayApp20231012134505</ResourceId>
    <ResourceGroup>Zoleka</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://railwayapp20231012134505.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <MSDeployServiceURL>railwayapp20231012134505.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>RailwayApp20231012134505</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>false</EnableMsDeployAppOffline>
    <UserName>$RailwayApp20231012134505</UserName>
    <_SavePWD>true</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects>
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="True">
          <Destination Path="Data Source=tcp:railwayappdbserver.database.windows.net,1433;Initial Catalog=RailwayApp_db;User ID=CarlMyeni@railwayappdbserver;Password=Sandiswa@029" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="RailwayApp.Models.ApplicationDbContext, RailwayApp" MigrationConfiguration="RailwayApp.Migrations.Configuration, RailwayApp" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="eServicesDbContext-local" Order="2" Enabled="False">
          <Destination Path="Data Source=tcp:railwayappdbserver.database.windows.net,1433;Initial Catalog=RailwayApp_db;User ID=CarlMyeni@railwayappdbserver;Password=Sandiswa@029" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=aspnetRailwayApp;Integrated Security=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\eServicesDbContext-local_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=aspnetRailwayApp;Integrated Security=True" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="eServicesDbContext-local-Web.config Connection String">
      <ParameterValue>Data Source=tcp:railwayappdbserver.database.windows.net,1433;Initial Catalog=RailwayApp_db;User ID=CarlMyeni@railwayappdbserver;Password=Sandiswa@029</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:railwayappdbserver.database.windows.net,1433;Initial Catalog=RailwayApp_db;User ID=CarlMyeni@railwayappdbserver;Password=Sandiswa@029</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>